.padding {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
}

.card {
  margin-bottom: 5%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #34526b;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
  margin-bottom: 2%;
}

.m-b-10 {
  margin-bottom: 10px;
}

input {
  width: 80%;
}

.ng-select {
  width: 80%;
}

#list {
  width: 30%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
