<p>dropdownuser works!</p>
<li class="nav-item dropdown" dropdown>
    <a dropdownToggle mdbWavesEffect type="button" class="nav-users-dropdown" mdbWavesEffect>
      Selectionner l'emploi du temps que vous voulez visionner<span class="caret"></span></a>
    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
      <a class="dropdown-item waves-light" mdbWavesEffect href="#">votre emploi du temps</a>
      <div class="divider dropdown-divider"></div>
      <a class="dropdown-item waves-light" mdbWavesEffect href="/user">user1</a>
      <a class="dropdown-item waves-light" mdbWavesEffect href="/user">user2</a>
      <a class="dropdown-item waves-light" mdbWavesEffect href="/user">user3</a>
      
    </div>
  </li>