<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand">TimeRGT</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto" *ngIf="logged">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/home">Home Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/time">Time Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/user">User Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="manager" mdbWavesEffect href="/manager">Project Management</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
    </ul>
  </links>
</mdb-navbar>