<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="login_img">
                </div>
            </div>
            <div class="col-4">

                <div class="login_form">
                    Log-in to your account
                    <br><br>
                    <input class="logipage__text" type="text" placeholder="lastname.firstname" />
                    <br>
                    <input class="logipage__text" type="password" placeholder="Password" />
                    <!-- <div class="login__ordiv">
                        <div class="login__dividor"></div>
                    </div>
                    <div class="login_pass"> Forgot password?</div> -->
                    <br><br>
                    <button class="login__button" onClick={this.login}>Log In</button>
                </div>
            </div>
            <div class="col-4">
                <div class="login_form">
                    Create your account
                    <input class="logipage__text" type="text" placeholder="Enter your first name" />
                    <input class="logipage__text" type="text" placeholder="Enter your last name" />
                    <input class="logipage__text" type="password" placeholder="Enter your password" />
                    <button class="login__button" onClick={this.newSignUp}>Sign up</button>
                </div>
            </div>
            <div class="col">
                <div class="login_img">
                </div>
            </div>
        </div>
    </div>
</div>