<div>
    <div class="container">
        <div class="row">
        <div class="col">
        <div class="login_img">
        </div>
    </div>
        <div class="col-4">
                   <div class="login_form">
                            <input class="logipage__text" type="text" placeholder="Phone number, username, or email" />
                            <input class="logipage__text"   type="password" placeholder="Password" />
                            <button class="login__button" onClick={this.login}>Log In</button>            
                        <div class="login__ordiv">
                            <div class="login__dividor"></div>
                        </div>
                        <div class="login_pass"> Forgot password?</div>
                   </div>
                </div>
        <div class="col-4">
                   <div class="login_form">
                        <input class="logipage__text"  type="text" placeholder="Mobile number or Email" />
                        <input class="logipage__text"  type="text" placeholder="Full Name" />
                        <input class="logipage__text"  type="text" placeholder="Username" />
                        <input class="logipage__text"  type="password" placeholder="Password" />
                        <button class="login__button" onClick={this.newSignUp} >Sign up</button>
                   </div>
                </div>
        <div class="col">
            <div class="login_img">
            </div>
        </div>
    </div>
</div>
</div>
