<div class="d-flex justify-content-center">
    <div class="col-xl-10 col-md-10">
        <div class="card user-card-full">
            <div class="text-center">
                <h1>Projet POC - TimeRGT</h1>
            </div>
            <hr>
            <h3 class="d-flex justify-content-center">Authors</h3>
            <div class="d-flex justify-content-around">
                <p>BIRON Gregoire</p>
                <p>GAGNAIRE Thomas</p>
                <p>FELICIANO Ruben</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="login_form">
        <div *ngIf="!logged">
            <h3>Log-in to your account</h3>
            <br>
            <input class="logipage__text" name="username" [(ngModel)]="inputUsername" type="text"
                placeholder="Enter your last name" />
            <br>
            <input class="logipage__text" name="password" [(ngModel)]="inputPassword" type="password"
                placeholder="Password" />
            <br><br>
            <button class="login__button" (click)="doLogin()">Log In</button>
        </div>
        <div *ngIf="logged">
            <h3>Logged as {{currentUsername}} ({{currentUserRole}})</h3>
            <button class="login__button" (click)="deconnection()">Sign off</button>
        </div>
    </div>
</div>