@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* background-color: #2c2f33;
  color: #99aab5; */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
